.content-Add-new-category{
    padding: 20px 40px;
}
.categories-departament .select-Image-One{
    position: relative;
    width: 50%;
    height: 269px;
    border: 1px dashed #8D8D8D;
    margin-bottom: 40px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.categories-departament  .select-Image-One{
    margin-right: 20px;
}
.categories-departament  .select-Image-One .col-select
{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
 .categories-departament .select-Image-One .col-select .img-upload,
.categories-departament  .select-Image-One .col-select .img-upload-small{
    position: absolute;
    width: 100%;
    height: 100%;
}
.categories-departament .select-Image-One input{
    position: absolute;
    margin-left: 30px;
    margin-top: -30px;
    opacity: 0;
    cursor: pointer;
}
.categories-departament .select-Image-One p{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-family: sans-serif;
    color: #8D8D8D;
}
.categories-departament .select-Image-One img{
    cursor: pointer;
    margin-bottom: 20px;
}
.categories-departament form{
    display: flex;
    flex-direction: column;
}
.categories-departament form input{
    width: 50%;
    border: none;
    outline: none;
    height: 50px;
    padding: 20px;
    border-radius: 4px;
    background-color: var(--background-search);
    margin-bottom: 15px;
}
.categories-departament form input::placeholder{
    padding-left: 4px;
}
.categories-departament form button{
    width: 170px;
    height: 40px;
    border: none;
    outline: none;
    background-color: #5A67BA;
    border-radius: 4px;
    font-size: 17px;
    color: white;
    letter-spacing: 0.5px;
    cursor: pointer;
}
@media (max-width: 1100px){
    .categories-departament .select-Image-One,
    .categories-departament form input{
        width: 100%;
    }
    
}
