.content-Add-New-locations{
    padding: 40px 40px ;
}
.all-addnew-locations{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.all-addnew-locations div{
    width: 45%;
    margin-bottom: 20px;
    margin-right: 40px;
}
@media (max-width: 1200px){
    .all-addnew-locations div{
        width: 100%;
    }
}
.all-addnew-locations div p{
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-family: sans-serif;
    color: #1F384C;
}
.all-addnew-locations div input{
    width: 100%;
    height: 40px;
    background-color: #F6F6FB;
    border: none;
    outline: none;
    padding: 0px 15px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-family: sans-serif;
    color: #1F384C;
}
.all-addnew-locations div input::placeholder{
    padding-left: 4px;
}
.content-Add-New-locations a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #5A67BA;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-family: sans-serif;
    border-radius: 4px;
    margin-top: 40px;
}
@media (max-width: 600px){
    .content-Add-New-locations{
        padding: 20px 20px ;
    }
}