.Add-New-Product-Departament{
    width: 100%;
    overflow: hidden;
}
.Add-New-Product-Departament .heading-AddNewProduct{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 0.5px solid var(--border-color);
}
.Add-New-Product-Departament .heading-AddNewProduct .col-image{
    display: flex;
    align-items: center;
}
.Add-New-Product-Departament .heading-AddNewProduct .col-image img{
    cursor: pointer;
    margin-right: 15px;
}
.Add-New-Product-Departament .heading-AddNewProduct .col-image p{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-family: sans-serif;
    color: #1F384C;
}
@media (max-width: 768px){
    .Add-New-Product-Departament .heading-AddNewProduct{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width: 520px){
    .Add-New-Product-Departament .heading-AddNewProduct {
        padding-left: 10px;
        padding-right: 10px;
    }
    .Add-New-Product-Departament .heading-AddNewProduct .col-image img{
        width: 17px;
        margin-right: 10px;
    }
    .Add-New-Product-Departament .heading-AddNewProduct .col-image p{
        font-size: 15px;
    }
}
@media (max-width: 420px){
    .Add-New-Product-Departament .heading-AddNewProduct .col-image p {
        font-size: 13px;
    }
}
.heading-image{
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
}
@media (max-width: 768px){
    .heading-image{
        padding-left: 20px;
        padding-right: 20px;
    }
}
.heading-image p{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-family: sans-serif;
    color: #1F384C;
}
.Add-New-Product-Departament .col-Select-Image{
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    display: flex;
}
@media (max-width: 768px){
    .Add-New-Product-Departament .col-Select-Image{
        padding-left: 20px;
        padding-right: 20px;
    }
}
.Add-New-Product-Departament .col-Select-Image .select-Image-One{
    position: relative;
    width: 50%;
    height: 269px;
    border: 1px dashed #8D8D8D;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
 .col-Select-Image .select-Image-Two{
    display: flex;
    width: 50%;
    height: 269px;
}
 .col-Select-Image .select-Image-Two .select-Image-Product,
 .add-new-images-product .col-one .select-Image-Product,
 .all-content-addnew-product .all-select-images .col-one .select-Image-Product{
    position: relative;
    width: 200px;
    height: 128px;
    border: 1px dashed var(--border-color);
    text-align: center;
    padding: 15px;
    margin: 0 15px 10px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
 .col-Select-Image .select-Image-Two .select-Image-Product input,
 .add-new-images-product .col-one .select-Image-Product input,
 .all-content-addnew-product .all-select-images .col-one .select-Image-Product input{
    position: absolute;
    opacity: 0;
}
 .col-Select-Image .select-Image-Two .select-Image-Product img,
 .add-new-images-product .col-one  .select-Image-Product img,
 .all-content-addnew-product .all-select-images .col-one .select-Image-Product img{
    width: 40px;
    cursor: pointer;
    margin-top: -5px;
}
 .col-Select-Image .select-Image-Two .select-Image-Product p,
  .add-new-images-product .col-one .select-Image-Product p,
  .all-content-addnew-product .all-select-images .col-one .select-Image-Product p{
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 0.5px;
    font-family: sans-serif;
    color: #8D8D8D;
}
.Add-New-Product-Departament .col-Select-Image .select-Image-One,
 .add-new-images-product .col-one .select-Image-Product,
 .all-content-addnew-product .all-select-images .col-one .select-Image-Product{
    margin-right: 20px;
}
.Add-New-Product-Departament .col-Select-Image .select-Image-One .col-select,
.Add-New-Product-Departament .col-Select-Image .select-Image-Two .col-select,
.add-new-images-product .col-one .select-Image-Product .col-select,
.all-content-addnew-product .all-select-images .col-one .select-Image-Product .col-select{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.Add-New-Product-Departament .col-Select-Image .select-Image-One .col-select .img-upload,
.Add-New-Product-Departament .col-Select-Image .select-Image-One .col-select .img-upload-small{
    position: absolute;
    width: 100%;
    height: 100%;
}
.Add-New-Product-Departament .col-Select-Image .select-Image-One input{
    position: absolute;
    margin-left: 30px;
    margin-top: -30px;
    opacity: 0;
    cursor: pointer;
}
.Add-New-Product-Departament .col-Select-Image .select-Image-One p{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-family: sans-serif;
    color: #8D8D8D;
}
.Add-New-Product-Departament .col-Select-Image .select-Image-One img{
    cursor: pointer;
    margin-bottom: 20px;
}
.Add-New-Product-Departament .col-Select-Image .select-Image-Two .content-image {
    margin-top: 20px;
}
@media (max-width: 1100px){
    .Add-New-Product-Departament .col-Select-Image .select-Image-One .col-select,
    .Add-New-Product-Departament .col-Select-Image .select-Image-Two .col-select{
            margin-top: 50px;
        }
    .Add-New-Product-Departament .col-Select-Image .select-Image-One,
    .Add-New-Product-Departament .col-Select-Image .select-Image-Two{
        height: 200px;
    }
    .Add-New-Product-Departament .col-Select-Image .select-Image-One p,
    .Add-New-Product-Departament .col-Select-Image .select-Image-Two p{
        font-size: 15px;
    }
    .Add-New-Product-Departament .col-Select-Image .select-Image-One img,
    .Add-New-Product-Departament .col-Select-Image .select-Image-Two img{
        width: 50px;
    }
}
@media (max-width: 650px){
    .Add-New-Product-Departament .col-Select-Image{
        flex-direction: column;
    }
    .Add-New-Product-Departament .col-Select-Image .select-Image-One,
    .Add-New-Product-Departament .col-Select-Image .select-Image-Two{
        width: 100%;
    }
    .Add-New-Product-Departament .col-Select-Image .select-Image-One{
        margin-bottom: 20px;
    }
}
@media (max-width: 1250px){
    .Add-New-Product-Departament .col-Select-Image .select-Image-One{
        max-width: 350px;
    }
    .Add-New-Product-Departament .col-Select-Image .select-Image-Two{
        width: 150px;
    }
}
@media (max-width: 1200px){
    .Add-New-Product-Departament .col-Select-Image .select-Image-One{
        max-width: 320px;
    }
    .Add-New-Product-Departament .col-Select-Image .select-Image-Two {
        max-width: 120px;
    }
}
@media (max-width: 1100px){
    .Add-New-Product-Departament .col-Select-Image .select-Image-One{
        max-width: 220px;
    }
    .Add-New-Product-Departament .col-Select-Image .select-Image-Two .col-one,
    .Add-New-Product-Departament .col-Select-Image .select-Image-Two .col-two{
        display: flex;
        flex-direction: column;
    }
    .Add-New-Product-Departament .col-Select-Image .select-Image-Two .content-image{
        margin-top: 5px;
    }
}
@media (max-width: 992px){
    .Add-New-Product-Departament .col-Select-Image .select-Image-Two{
        flex-wrap: wrap;
    }
    .Add-New-Product-Departament .col-Select-Image .select-Image-Two .col-one,
    .Add-New-Product-Departament .col-Select-Image .select-Image-Two .col-two {
        display: flex;
        flex-direction: row;
    }
    .Add-New-Product-Departament .col-Select-Image .select-Image-Two .content-image {
        margin-top: 20px;
    }
    .Add-New-Product-Departament .col-Select-Image .select-Image-One{
        height: 269px;
    }
}
@media (max-width: 830px){
    .Add-New-Product-Departament .col-Select-Image .select-Image-One {
            height: 230px;
        }
    .Add-New-Product-Departament .col-Select-Image{
        flex-direction: column;
    }
    .Add-New-Product-Departament .col-Select-Image .select-Image-One,
    .Add-New-Product-Departament .col-Select-Image .select-Image-Two {
        min-width: 100%;
    }
    .Add-New-Product-Departament .col-Select-Image .select-Image-One{
    margin-bottom: 20px;
    }
    .Add-New-Product-Departament .col-Select-Image .select-Image-Two{
    margin: 0px -10px 50px;
    }
}
@media (max-width: 650px){
    .Add-New-Product-Departament .col-Select-Image .select-Image-Two .col-one,
    .Add-New-Product-Departament .col-Select-Image .select-Image-Two .col-two {
            display: flex;
            flex-direction: column;
        }
        .Add-New-Product-Departament .col-Select-Image .select-Image-Two{
            margin-bottom: 350px;
        }
}
/*.onclick-btn{
    background-color: #5A67BA;
    border-color: #5A67BA;
    color: white;
}*/
.material-item {
    cursor: pointer;
    padding: 8px;
    border-radius: 6px;
    transition: 0.2s ease;
  }
  
  .material-item.selected,
  .color-item.selected {
    background-color: #5A67BA;
    border-color: #5A67BA;
    color: white !important; 
  }
  .color-item.selected p {
    color: white !important;
  }
  .size-item.selected {
    background-color: #5A67BA;
  }
  
  .size-item.selected {
    color: white !important;
  }
/*.img-upload{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}*/
@media (max-width: 1800px){
    .img-upload{
        left: 30% !important;
    }
}
@media (max-width: 1250px){
    .img-upload{
        left: 10% !important;
    }
}
@media (max-width: 1100px){
    .img-upload{
        width: 160px !important;
        height: 160px !important;
    }
}
@media (max-width: 830px){
    .img-upload{
        width: 220px !important;
        height: 200px !important;
        left: 30% !important;
    }
}
@media (max-width: 600px){
    .img-upload{
        left: 20% !important;
    }
}
.img-upload-small{
    position: absolute;
    left: 20%;
    top: 5%;
    width: 120px !important;
    height: 120px !important;
}

.all-content-addnew-product{
    display: flex;
}
.all-content-addnew-product .content-Product-Submit{
    min-width: 1600px;
}
.all-content-addnew-product .all-select-images{
    position: relative;
    margin-top: 40px;
    display: flex;
   flex-wrap: wrap;
   gap: 10px;
    height: 100%;
    margin-left: -700px;
}
.all-content-addnew-product .all-select-images::before{
    content: "Main Images Product";
    position: absolute;
    top: -40px;
    left: 20px;
    font-size: 22px;
}
.all-content-addnew-product .all-select-images .col-one .select-Image-Product .content-image{
    margin-top: 15px;
}
@media (max-width: 2000px){
    .all-content-addnew-product .content-Product-Submit{
        min-width: 1250px;
    }
    .all-content-addnew-product .all-select-images{
        margin-left: -600px;
    }
}
@media (max-width:  1700px){
    .all-content-addnew-product{
        flex-direction: column;
    }
    .all-content-addnew-product .content-Product-Submit,
    .all-content-addnew-product .content-Product-Submit .Name-Description-Col,
    .all-content-addnew-product .content-Product-Submit .Colors-Sizes-Col{
        min-width: 100%;
    }
    .all-content-addnew-product .all-select-images{
        margin-left: 20px;
      /*  margin-right: 40px;*/
        /*width: 100%;*/
    }
}
/**/
.all-select-images{
    max-height: fit-content;
}
.all-main-images-product{
    max-height: fit-content !important;
}
.images-sizes{
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    padding: 20px;
    width: fit-content;
    margin-bottom: 20px;
    border-radius: 8px;
}
.images-sizes .col-one .select-Image-Product{
    width: 130px !important;
    height: 100px !important;
}
.all-content-addnew-product .images-sizes .col-one .select-Image-Product img{
    width: 30px !important;
}
.all-content-addnew-product .images-sizes .col-one .select-Image-Product p{
    font-size: 12px;
}
.all-content-addnew-product .images-sizes::before{
    content: "Sizes Images";
}
.images-sizes .col-heading p{
    margin-bottom: 10px;
}
