.Edit-Product-Departament{
    width: 100%;
}
.Edit-Product-Departament .heading-EditProduct{
    width: 100%;
    height: 60px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid var(--border-color);
}
@media (max-width: 768px){
    .Edit-Product-Departament .heading-EditProduct{
        padding-left: 20px;
        padding-right: 20px;
    }
}
.Edit-Product-Departament .heading-EditProduct .col-image{
    display: flex;
}
.Edit-Product-Departament .heading-EditProduct .col-image img{
    margin-right: 15px;
    cursor: pointer;
}
.Edit-Product-Departament .heading-EditProduct .col-image p{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-family: sans-serif;
    color: #1F384C;
}
@media (max-width: 520px) {
    .Edit-Product-Departament .heading-EditProduct .col-image p {
        font-size: 15px;
    }
    .Edit-Product-Departament .heading-EditProduct .col-image img{
        width: 17px;
        margin-right: 10px;
    }
}
.Edit-Product-Departament .col-images{
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
}
@media (max-width: 768px){
    .Edit-Product-Departament .col-images{
        padding-left: 20px;
        padding-right: 20px;
    }
}
.Edit-Product-Departament .col-images p{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #1F384C;
    font-family: sans-serif;
}
.Edit-Product-Departament .Images-Departament{
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.Edit-Product-Departament .Images-Departament .main-Image{
    position: relative;
    margin-right: 40px;
    width: 420px;
    height: 270px;
}
.Edit-Product-Departament .Images-Departament .main-Image .img-Product{
    width: 420px;
    height: 280px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.Edit-Product-Departament .Images-Departament .main-Image .Delete-Edit-Image{
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.Edit-Product-Departament .Images-Departament .main-Image .Delete-Edit-Image img{
    cursor: pointer;
}
.Edit-Product-Departament .Images-Departament .main-Image .Delete-Edit-Image img:nth-child(2){
    float: left;
}
.Edit-Product-Departament .Images-Departament .all-Images-Products .col-img-product{
    display: flex;
    flex-wrap: wrap;
}
.Edit-Product-Departament .Images-Departament .all-Images-Products .col-img-product .main-img-product{
    position: relative;
    margin: 0px 15px 15px;
}
.Edit-Product-Departament .Images-Departament .all-Images-Products .col-img-product .main-img{
    width: 200px;
    height: 128px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.Edit-Product-Departament .Images-Departament .all-Images-Products .col-img-product .main-img-product .Delete-Edit-Img{
    position: absolute;
    top: 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.Edit-Product-Departament .Images-Departament .all-Images-Products .col-img-product .main-img-product .Delete-Edit-Img img{
    cursor: pointer;
}
@media (max-width: 1300px){
    .Edit-Product-Departament .Images-Departament .all-Images-Products .col-img-product .main-img-product .main-img{
        width: 165px;
    }
    .Edit-Product-Departament .Images-Departament .main-Image .Delete-Edit-Image img{
        width: 35px;
    }
}
@media (max-width: 1100px){
        .Edit-Product-Departament .Images-Departament .main-Image{
            margin-right: 20px;
        }
        .Edit-Product-Departament .Images-Departament .main-Image .Delete-Edit-Image img {
            width: 30px;
        }
}
@media (max-width: 820px){
    .Edit-Product-Departament .Images-Departament{
        flex-direction: column;
    }
    .Edit-Product-Departament .Images-Departament .main-Image{
        width: 70%;
        margin-bottom: 20px;
    }
    .Edit-Product-Departament .Images-Departament .main-Image .img-Product{
        width: 100%;
    }
    .Edit-Product-Departament .Images-Departament .main-Image .img-Product{
        height: 250px;
    }
    .Edit-Product-Departament .Images-Departament .all-Images-Products{
        width: 95%;
    }
    .Edit-Product-Departament .Images-Departament .all-Images-Products .col-img-product {
        margin: 0;
    }

    .Edit-Product-Departament .Images-Departament .all-Images-Products .col-img-product .main-img-product {
        position: relative;
        margin-left: 5px;
    }
}
@media (max-width: 768px){
    .Edit-Product-Departament .Images-Departament{
        padding-left: 20px;
        padding-right: 20px;
    }
    .Edit-Product-Departament .Images-Departament .main-Image .img-Product {
        height: 240px;
        margin-bottom: 0;
    }
}
@media (max-width: 600px){
    .Edit-Product-Departament .Images-Departament .all-Images-Products {
            width: 100%;
        }
    
        .Edit-Product-Departament .Images-Departament .main-Image {
            width: 100%;
        }
}
.Edit-Product-Departament .col-Delete-Edit{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.Edit-Product-Departament .col-Delete-Edit button{
    width: 250px;
    height: 40px;
    border: none;
    background-color: #5A67BA;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    color: white;
    letter-spacing: 0.5px;
}
.col-Category {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.col-Category label {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    margin-bottom: 12px;
}

.select-category {
    width: 50%;
    padding: 10px 12px;
    border: 1.5px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-size: 15px;
    color: #333;
    outline: none;
    transition: all 0.2s ease;
    appearance: none; /* يخفي السهم الافتراضي */
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg fill='%23666' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px;
    cursor: pointer;
}

.select-category:hover {
    border-color: #5a67ba;
    background-color: #fff;
}

.select-category:focus {
    border-color: #5a67ba;
    box-shadow: 0 0 5px rgba(90, 103, 186, 0.4);
    background-color: #fff;
}

.select-category option {
    background-color: #fff;
    color: #333;
}

/*update new changes*/
.Sizes-Images-Section .Size-Block{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 20px;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}
.Sizes-Images-Section .Size-Block .Size-Images .Images-Grid{
    display: flex;
    gap: 20px;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
.Sizes-Images-Section .Size-Block .Size-Images .Images-Grid .Image-Slot{
    width: 150px;
    height: 100px;
    background-color: #f6f6f6;
    border-radius: 4px;
    position: relative;
}
.Sizes-Images-Section .Size-Block .Size-Images .Images-Grid .Image-Slot .all-buttons{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.Sizes-Images-Section .Size-Block .Size-Images .Images-Grid .Image-Slot .all-buttons button{
    border: none;
    cursor: pointer;
}
.Sizes-Images-Section .Size-Block .Size-Images .Images-Grid .Image-Slot .all-buttons button img{
    width: 25px;
    height: 25px;
}
.Sizes-Images-Section .Size-Block .Size-Images .Images-Grid .Image-Slot .img-product{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.Sizes-Images-Section .Size-Block .Size-Images .Images-Grid .Image-Slot .add-new-button{
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.Sizes-Images-Section .Size-Block .Size-Images .Images-Grid .Image-Slot .add-new-button img{
    cursor: pointer;
    width: 50px;
    margin-bottom: 10px;
}
.Sizes-Images-Section .Size-Block .Size-Images .Images-Grid .Image-Slot .add-new-button p{
    text-transform: capitalize;
    letter-spacing: 0.5px;
}
.images-without-bar{
    margin-top: 20px;
}